<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="member">
	
<!-- 	<insert id="insertMember" parameterType="member">
		INSERT INTO SPRING.MEMBER VALUES (
		#{userId},#{password},#{name},#{gender},#{age}
		,#{email},#{phone},#{address},#{hobby, typeHandler=strArr},DEFAULT)
	</insert>
 -->
 	
	<resultMap type="member" id="memberMap">
		<result property="teamAbbr" column="team_abbr"/>
		<result property="titleName" column="title_name"/>
		<result property="myReferralCode" column="my_referral_code"/>
		<result property="enrollDate" column="enroll_date"/>
		<result property="withdrawDate" column="withdraw_date"/>
		<!-- <result property="hobby" column="HOBBY" typeHandler="strArr"/> -->
	</resultMap>

 	
	<select id="selectMemberById" parameterType="map" resultMap="memberMap">
		SELECT * FROM MEMBER WHERE EMAIL=#{email}
	</select>

 	
<!-- 	<select id="selectMemberAll" resultMap="memberMap">
		SELECT * FROM MEMBER
	</select>
 -->
 
 </mapper>
